html {
    font-size: 17px
}

body {
    background-color: #2d2d2d;
    color: #ffffff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    margin: 1.5rem 3rem;
    line-height: 1.4;
}

a {
    color: #ffffff;
}

a:hover {
    opacity: .7;
}

a:visited {
    opacity: .2;
}

a:active {
    opacity: .2;
}

.h1, h1 {
    font-size: 2rem;
}

.h2, h2 {
    font-size: 1.5rem;
}

.h4, h4 {
    font-size: 1rem;
}

ul {
    list-style-type: none;
}

ul > li:before {
    content: '—';
    padding-right: 1rem;
}

.light {
    font-weight: 300;
}

.italic {
    font-style: italic;
}

.mb1 {
    margin-bottom: 1rem;
}

.pb3 {
    padding-bottom: 2rem;
}

.fade-in {
    opacity: 0;
}

.fade-in.js-active {
    opacity: 1;
}

.transition {
    transition: all 0.5s ease-in;
}
